<%- include("./partials/header")  %>
<h1>
	Welcome to the SIGN UP page of campgrounds
</h1>
<% if(error && error.length>0){ %>
<div class="alert alert-danger" role="alert">
	<%= error %>
</div>
<% } %>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="Enter your username">
	<input type="password" name="password" placeholder="Enter your PWD">
	<button>
		Sign up
	</button>
</form>
<%- include("./partials/footer")  %>
